/* Chrome, Safari, Opera */
@-webkit-keyframes scroll-icon-animation {
    from {opacity: 1; color: white;}
    to {opacity: 0.1; color: #0a0;}
}

/* Standard syntax */
@-webkit-keyframes scroll-icon-animation {
    from {opacity: 1; color: white;}
    to {opacity: 0.1; color: #0a0;}
}

