* {
/*    border: 1px solid red;*/
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*Upper-section*/

.upper-section {
    position: absolute;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* Header */

.header-logo img {
    width: 40vw;
}

/*Nav section*/

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav li {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.main-nav li:hover {
    animation-name: green-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

/* Hero section */

.hero {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 100vh;
/*    background: #1a2;*/
}

.scroll-or-die {
    cursor: pointer;
    
    animation-name: green-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.scroll-or-die a{
    color: #0a0;
    text-decoration: none;
}

/* Project */

.project,
.project figure,
.project-title {
    margin: 0.5em;
}

.project {

    border: 0.5px solid #aaa;
}

.project figure {
    position: relative;
    border-bottom: 2px solid black;
}

.project figcaption{
    position: absolute;
    bottom: 0.4em;
    left: 0.2em;
}